<div style="overflow-y:scroll; overflow-x:hidden; max-height: 100%;">
    <div class="profile" *ngIf="profileUser">
        <div class="user-info">
            <div class="user-card col-4">
                <img *ngIf="profileUser.profileImage" src="{{profileUser.profileImage}}" alt="" width="275"
                    class="rounded-circle">
                <img *ngIf="!profileUser.profileImage && profileUser.gender=='Male'" src="../../../assets/images/default-profile.jpg" alt="..."
                    width="275" class="rounded-circle">
                <img *ngIf="!profileUser.profileImage && profileUser.gender=='Female'" src="../../../assets/images/default-profile.jpg" alt="..."
                    width="275" class="rounded-circle">
                <!-- Person name-->
                <div *ngIf="!isUserEdited">
                    <h4>{{profileUser?.title}} {{profileUser?.name}} {{profileUser?.surname}}</h4>
                    <button *ngIf="isSelfProfile" (click)="editUser()" class="btn btn-primary btn-sm">Edytuj</button>
                </div>
                <div *ngIf="isUserEdited">
                    <input *ngIf="isSelfProfile" [(ngModel)]="titleField">
                    <input *ngIf="isSelfProfile" [(ngModel)]="nameField">
                    <input *ngIf="isSelfProfile" [(ngModel)]="surnameField">    
                    <button *ngIf="isSelfProfile" (click)="updateUser()" class="btn btn-primary btn-sm">Zapisz</button>
                    <button *ngIf="isSelfProfile" (click)="declineUpdateUser()" class="btn btn-danger btn-sm">Cofnij</button>
                </div>
            </div>
            <hr>
            <div class="contact-types col-6">
                <mat-tab-group dynamicHeight>
                    <mat-tab label="O mnie">
                        <div class="clinics">
                            <P>Opis: </P>
                            <div *ngIf="!isDescriptionEdited">
                                <h4>{{profileUser?.description}}</h4>
                                <button *ngIf="isSelfProfile" (click)="editUserDescription()"
                                    class="btn btn-primary btn-sm">Edytuj</button>
                            </div>
                    
                            <div *ngIf="isDescriptionEdited" class="d-flex flex-column">
                                <input [readonly]="!this.isSelfProfile" [(ngModel)]="descriptionField">
                                <button *ngIf="isSelfProfile" (click)="updateUserDescription()"
                                    class="btn btn-primary btn-sm">Zapisz</button>
                                <button *ngIf="isSelfProfile" (click)="declineUpdateUserDescription()" class="btn btn-danger btn-sm">Cofnij</button>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Kontakt">
                        <div class="contact d-flex row">
                            <div class="phones col-6 row justify-content-around">
                                <table mat-table [dataSource]="phones" class="phone-table">
                                    <ng-container matColumnDef="number">
                                        <th mat-header-cell *matHeaderCellDef> Numer telefonu </th>
                                        <td mat-cell *matCellDef="let element">  
                                            <div *ngIf="!element.isEdited">
                                                {{element.phoneNumber}}
                                                <button *ngIf="isSelfProfile" type="button"
                                                (click)="editUserPhone(element.id)" class="btn btn-primary btn-sm">Edytuj</button>
                                                <button *ngIf="isSelfProfile" type="button" class="btn btn-danger btn-sm"
                                                (click)="deletePhone(element.id)">Usuń</button>
                                            </div> 
                                            <div *ngIf="element.isEdited">
                                                <input *ngIf="isSelfProfile" [(ngModel)]="element.phoneNumber">
                                                <button *ngIf="isSelfProfile" type="button"
                                                (click)="updateUserPhone(element.id)" class="btn btn-primary btn-sm">Zapisz</button>
                                                <button *ngIf="isSelfProfile" type="button" class="btn btn-danger btn-sm"
                                                (click)="declineUpdateUserPhone(element.id)">Cofnij</button>
                                            </div>
                                        </td>                              
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedPhoneColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedPhoneColumns;"></tr>
                                </table>
                                <form #addPhoneForm="ngForm" (ngSubmit)="addPhone(addPhoneForm)">
                                    <div class="addPhone">
                                        <input *ngIf="isSelfProfile" ngModel name="phoneNumber" type="number"
                                            placeholder="numer telefonu" minlength="6" maxlength="12">
                                        <button *ngIf="isSelfProfile" type="submit" name="add_phone"
                                            class="btn btn-primary btn-sm">+</button>
                                    </div>
                                </form>
                            </div>
                            <div class="phones col-6 row justify-content-around">
                                <table mat-table [dataSource]="external" class="phone-table">
                                    <ng-container matColumnDef="number">
                                        <th mat-header-cell *matHeaderCellDef> Pozostały kontakt </th>
                                        <td mat-cell *matCellDef="let element">  
                                            <div>
                                                {{element}}
                                                <!-- <button *ngIf="isSelfProfile" type="button"
                                                (click)="editUserPhone(element.id)" class="btn btn-primary btn-sm">Edytuj</button>
                                                <button *ngIf="isSelfProfile" type="button" class="btn btn-danger btn-sm"
                                                (click)="deletePhone(element.id)">Usuń</button> -->
                                            </div> 
                                            <!-- <div *ngIf="element.isEdited">
                                                <input *ngIf="isSelfProfile" [(ngModel)]="element.phoneNumber">
                                                <button *ngIf="isSelfProfile" type="button"
                                                (click)="updateUserPhone(element.id)" class="btn btn-primary btn-sm">Zapisz</button>
                                                <button *ngIf="isSelfProfile" type="button" class="btn btn-danger btn-sm"
                                                (click)="declineUpdateUserPhone(element.id)">Cofnij</button>
                                            </div> -->
                                        </td>                              
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedPhoneColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedPhoneColumns;"></tr>
                                </table>
                                <form #addPhoneForm="ngForm" (ngSubmit)="addPhone(addPhoneForm)">
                                    <div class="addPhone">
                                        <input *ngIf="isSelfProfile" ngModel name="phoneNumber" type="number"
                                            placeholder="numer telefonu" minlength="6" maxlength="12">
                                        <button *ngIf="isSelfProfile" type="submit" name="add_phone"
                                            class="btn btn-primary btn-sm">+</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </mat-tab>

                    <mat-tab label="Przychodnie">
                        <div class="clinics">
                            <table mat-table [dataSource]="clinics" class="phone-table" style="width: 100%;">

                                <ng-container matColumnDef="navigation">
                                    <th mat-header-cell *matHeaderCellDef> Strona budynku </th>
                                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}
                                        <button *ngIf="isSelfProfile" class="btn btn-danger btn-sm"
                                        (click)="deleteClinic(element.id, profileUser.id)">X</button>
                                    <button class="btn btn-primary btn-sm" (click)="toClinic(element.id)"> O budynku</button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                                </ng-container>
                                <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef> Adres </th>
                                    <td mat-cell *matCellDef="let element"> {{element.street}}</td>
                                </ng-container>
                                <ng-container matColumnDef="postalCode">
                                    <th mat-header-cell *matHeaderCellDef> Kod pocztowy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.postalCode}}</td>
                                </ng-container>
                                <ng-container matColumnDef="city">
                                    <th mat-header-cell *matHeaderCellDef> Miasto </th>
                                    <td mat-cell *matCellDef="let element"> {{element.city}}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedClinicsColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedClinicsColumns;"></tr>
                            </table>
                            <div *ngIf="isSelfProfile && !isClinicAdding">
                                <button class="btn btn-primary btn-sm" (click)="addClinic()"> Dodaj</button>
                            </div>
                            <div *ngIf="isSelfProfile && isClinicAdding">
                                <button class="btn btn-primary btn-sm" (click)="saveClinic()"> Przypisz</button>
                                <button class="btn btn-danger btn-sm" (click)="declineAddClinic()"> Cofnij</button>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Uprawnienia" *ngIf="checkIfAdmin()">
                        <div class="slides">
                            <mat-slide-toggle color="primary" [(ngModel)]="isNormalUser" >Użytkownik</mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="isRehabilitant">Fizjoterapeuta</mat-slide-toggle>
                            <mat-slide-toggle color="primary" [(ngModel)]="isProfileNormalUser">Administrator</mat-slide-toggle>
                            <div role="alert" *ngIf="invalidRoleChange" style="color: red;">
                                <div>Użytkownik musi mieć podstawowe prawa</div>
                            </div>
                            <hr>
                            <div class="buttons" styles="margin-top: 1em;">
                            <button *ngIf="isAdmin" (click)="updateUserRoles()"
                                    class="btn btn-primary btn-sm">Zapisz</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Zaufany" *ngIf="checkIfAdmin()">
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="margin-right:0;">
        <div class="col-lg-6">
            <div class="opinion">
                <div class="opinion-body">
                    <h4 class="opinion-title">Opinie ({{numberOfComments}})</h4>
                    <span>Średnia ocena {{averageRate}}/5</span>
                </div>
                <div class="comment-widgets">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2">
                            <img *ngIf="!currentUser.profileImage"  src="../../../assets/images/default-profile.jpg" alt="user" width="50"
                                class="rounded-circle">
                            <img *ngIf="currentUser.profileImage"  src={{currentUserData?.profileImage}} alt="user" width="50"
                                class="rounded-circle">
                        </div>
                        <div class="comment-text w-100">
                            <div class="comment-footer">
                                <div class="rate">
                                    <h6 class="font-medium mr-auto">{{currentUserData?.name}} {{currentUserData?.surname}}</h6>
                                    <span *ngFor="let rate of ratings">
                                        <input 
                                        [ngModel]="selectedRate"
                                        type="radio" 
                                        name="rate" 
                                        value="{{rate}}"> 
                                        <i>{{rate}}  </i>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <input [(ngModel)]="newComment"  style='width:100%; line-height: 50px'>
                                <div class="comment-footer">
                                    <button type="button" (click)="addPost()" class="btn btn-primary btn-sm">Dodaj</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </div>
                    <!-- End of comment Row -->
                <div class="comment-widgets">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0" *ngFor="let comment of comments">
                        <div class="p-2">
                            <img *ngIf="!profileUser.profileImage"  src="../../../assets/images/default-profile.jpg" alt="user" width="50"
                                class="rounded-circle">
                            <img *ngIf="profileUser.profileImage"  src={{comment.profileImage}} alt="user" width="50"
                                class="rounded-circle">
                        </div>
                        <div class="comment-text w-100">
                            <div class="comment-footer rate ">
                                <h6 class="font-medium mr-auto">{{comment.name}} {{comment.surname}}</h6>
                                <span class="text-muted float-right">Ocena {{comment.rate}}/5</span>
                            </div>
                            <div *ngIf="!comment.isEdited">
                                <span class="m-b-15 d-block">{{comment.comment}} </span>
                                <div class="comment-footer"> <span class="text-muted float-right">{{comment.commentDate | date: 'dd/MM/yyyy'}}</span>
                                    <button *ngIf="currentUser.userdataId == comment.authorId" type="button" (click)="editPost(comment)" class="btn btn-primary btn-sm">Edytuj</button>
                                    <button *ngIf="currentUser.userdataId == comment.authorId" type="button" class="btn btn-danger btn-sm">Usuń</button>
                                </div>
                            </div>
                            <div *ngIf="comment.isEdited">
                                <input [readonly]="!this.isSelfProfile" [(ngModel)]="comment.comment"  style='width:100%'>
                                <div class="comment-footer"> <span class="text-muted float-right">{{comment.commentDate | date: 'dd/MM/yyyy'}}</span>
                                    <button *ngIf="currentUser.userdataId == comment.authorId" type="button" (click)="updatePost(comment)" class="btn btn-primary btn-sm">Zapisz</button>
                                    <button *ngIf="currentUser.userdataId == comment.authorId" type="button" (click)="declineUpdatePost(comment)" class="btn btn-danger btn-sm">Cofnij</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!-- End of comment Row -->
                </div> <!-- Card -->
            </div>
        </div>
    </div>
</div>