<div class="profile default-background" *ngIf="profileUser">
    <div class="user-info">
        <div class="user-card col-4">
            <img *ngIf="profileUser.profileImage" src="{{profileUser.profileImage}}" alt="" class="profile-img">
            <img *ngIf="!profileUser.profileImage" src="../../../assets/images/default-profile.jpg" alt="..." class="profile-img">
            <!-- Person name-->
            <h4>{{profileUser?.title}} {{profileUser?.name}} {{profileUser?.surname}}</h4>
            <input [readonly]="!this.isSelfProfile" [(ngModel)]="titleField">
            <input [readonly]="!this.isSelfProfile" [(ngModel)]="nameField">
            <input [readonly]="!this.isSelfProfile" [(ngModel)]="surnameField">
            <button *ngIf="isSelfProfile" (click)="updateUser()" class="saveButton">save</button>               

        </div>
        <hr>
        <div class="contact-types col-8">
        <mat-tab-group dynamicHeight>
            <mat-tab label="About me">
                <div class="clinics">
                    <P>Description: </P>
                    <input [readonly]="!this.isSelfProfile" [(ngModel)]="descriptionField">
                    <button *ngIf="isSelfProfile" (click)="updateUser()" class="saveButton">save</button>
                </div>
            </mat-tab>

            <mat-tab label="Phones">
                <div class="phones">
                    <p *ngFor="let phone of phones"> {{phone.phoneNumber}} 
                        <button *ngIf="isSelfProfile" class="deleteButton" (click)="deletePhone(phone.id)">X</button>
                    </p>
                </div> 
                <form #addPhoneForm="ngForm" (ngSubmit)="addPhone(addPhoneForm)" >
                    <div class="addPhone">
                        <input *ngIf="isSelfProfile" ngModel name="phoneNumber" type="number" placeholder="phone number" minlength="6" maxlength="12">
                        <button *ngIf="isSelfProfile" type="submit" name="add_phone" class="addButton">+</button>
                    </div>
                </form>   
            </mat-tab>

            <mat-tab label="Clinics">
                <div class="clinics">
                    <p *ngFor="let clinic of clinics"> 
                        {{clinic.city}}, ul.{{clinic.street}} {{clinic.number}}, ZIP: {{clinic.postalCode}}
                        <button *ngIf="isSelfProfile" class="deleteButton" (click)="deleteClinic(clinic.id, profileUser.id)">X</button>
                    </p>
                </div>

            </mat-tab>
        </mat-tab-group>
        </div> 
    </div>
    <div>
        Opinie
    </div>
</div>

