.profile{
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .user-info{
        height: 70%;
        width: 100%;
        display:flex;
        flex-direction: row;
        
        .user-card{
            margin:auto;
            margin-right:0em;
            height: 90%;
            width: 30vw;
            min-width: 300px;
            text-align: center;
            
            .profile-img{
                display:block;
                margin:auto;
                margin-top: 1em;
                max-width: 60%;
            }
        }

        .contact-types{
            margin-left:0%;
            height: 90%;
            width: 45%;
            .clinics{
                input{
                    text-align: justify;
                    width: 37vw;
                    height: 15vh;
                }

                .gender{
                    display: flex;
                    flex-direction: row;
                    justify-content:space-around;
                }       
            }
            .contacts, .clinics{
                margin:auto;
                margin-top: 1em;
                height: 20em;
                //height: 45%;
                width: 100%;

                border-style:solid;
                border-radius: 1em;

                    padding-left:1em;

                .phones{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    overflow: auto;
                    margin:auto;
                    margin-top: 1em;
                    height: 20em;
                    width: 100%;
                    p{
                        margin:0;
                    }
               }

               .hours{
                   display:flex;
                   flex-direction: column;
               }
            }
        }
    }
}



