<div class ="searchbar">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Rodzaj rehabilitacji</mat-label>
            <mat-select [formControl]="physioType" multiple>
              <mat-select-trigger>
                {{physioType.value ? physioType.value[0] : ''}}
                <span *ngIf="physioType.value?.length > 1" class="example-additional-selection">
                  (+{{physioType.value.length - 1}} {{physioType.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let dziedzina of rodzajeRehabilitacji" [value]="dziedzina">{{dziedzina}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Miasto</mat-label>
            <mat-select [formControl]="townType" multiple>
              <mat-select-trigger>
                {{townType.value ? townType.value[0] : ''}}
                <span *ngIf="townType.value?.length > 1" class="example-additional-selection">
                  (+{{townType.value.length - 1}} {{townType.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let miasto of miasta" [value]="miasto">{{miasto}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Tytuł</mat-label>
            <mat-select [formControl]="titleType" multiple>
              <mat-select-trigger>
                {{titleType.value ? titleType.value[0] : ''}}
                <span *ngIf="titleType.value?.length > 1" class="example-additional-selection">
                  (+{{titleType.value.length - 1}} {{titleType.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let tytul of tytuly" [value]="tytul">{{tytul}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>

<div *ngFor="let user of users">
    <div class="card">
        <div class="row">
            <div class=" col-3 p-4">
                <img class="profile-img" *ngIf="user.profileImage" src="{{user.profileImage}}" alt="" class="profile-img">
                <img class="profile-img" *ngIf="!user.profileImage" src="../../../assets/images/default-profile.jpg" alt="..." class="profile-img">
                <h5>{{user.title}} {{user.name}} {{user.surname}}</h5>
                <h6> Miejscowosc</h6>
            </div>
            <div class="col-6 p-4">
                <p> Rating: 0.0 / 5.0 </p>
                <h5>{{user.description}}</h5>
                <h5>Specjalizacja: Schorzenia kręgosłupa </h5>
                <button class="yellowButton" (click)="toProfile(user)"> Visit me </button>
            </div>
            <div class="col-3 p-4">
                <h5>Godziny otwarcia:</h5>
                <td>
                    <tr>
                       <td colspan="2">Poniedziałek </td> <td colspan="2">8:00</td><td colspan="1">-</td><td colspan="2">16:00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Wtorek </td> <td colspan="2">8:00</td><td colspan="1">-</td><td colspan="2">16:00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Środa </td> <td colspan="2">8:00</td><td colspan="1">-</td><td colspan="2">16:00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Czwartek </td> <td colspan="2">8:00</td><td colspan="1">-</td><td colspan="2">16:00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Piątek </td> <td colspan="2">8:00</td><td colspan="1">-</td><td colspan="2">16:00</td>
                    </tr>
                    <tr>
                        <td colspan="2">Sobota </td> <td colspan="2">---</td><td colspan="1">-</td><td colspan="2">---</td>
                    </tr>
                    <tr>
                        <td colspan="2">Niedziela </td> <td colspan="2">---</td><td colspan="1">-</td><td colspan="2">---</td>
                    </tr>
                </td>
            </div>
        </div>
    </div>
</div>

<!-- <div class = "container">
    <div class="row">
        <div class ="col-lg-3 col-md-1" >
            <div class="card" *ngFor="let user of users">
                <img *ngIf="user.profileImage" src="{{user.profileImage}}" alt="" class="profile-img">
                <img *ngIf="!user.profileImage" src="../../../assets/images/default-profile.jpg" alt="..." class="profile-img">
                <h2>{{user.title}} {{user.name}} {{user.surname}}</h2>
                <h2>{{user.email}}</h2>
                <h3>{{user.description}}</h3>
                <button class="yellowButton" (click)="onSelect(user)" > Visit me  </button>
            </div>
        <div>
    </div>
</div> -->
   