<div class="loginpage default-background ">
    <div class="login-container row justify-content-around">
            <div class="login col-10" >
                <form class=" col-12 column justify-content-center" name="form" #f="ngForm">
                    <div class="buttons">
                        <div class="form-group" style="margin-top: 2vh">
                            <h4>Błąd podczas korzystania z aplikacji</h4> 
                        </div>
                    </div>
                    
                </form>

            </div> 
    </div>
</div>
