<div class="loginpage default-background ">
    <div class="login-container row justify-content-around">
        <div class="settings col-10">   
            <div class="basic-info">
                <form class="register-form col-12" name="userForm" #f="ngForm" novalidate
                    (ngSubmit)="f.form.valid && updateProfile()">
                    <div class="form-group">
                        <h4 class="justify-content-around">Podstawowe informacje</h4> 
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="{{userData?.title}}"
                            [(ngModel)]="userForm.Email" required #email="ngModel" 
                        />
                        <div role="alert" *ngIf="email.errors && f.submitted" style="color: red;">
                            Email is required!
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="{{userData?.name}} "
                            [(ngModel)]="userForm.Password" required minlength="6" #password="ngModel"
                        />
                        <div  role="alert" *ngIf="password.errors && f.submitted" style="color: red;">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="confirmPassword" placeholder="{{userData?.surname}}"
                            [(ngModel)]="userForm.ConfirmPassword" required minlength="6" #confirmPassword="ngModel"
                        />
                        <div  role="alert" *ngIf="confirmPassword != password && f.submitted" style="color: red;">
                            <div *ngIf="confirmPassword != password">Password is different (need fix)</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Data urodzenia"
                            [(ngModel)]="userForm.Name" required minlength="3" #name="ngModel"
                        />
                        <div role="alert" *ngIf="name.errors && f.submitted" style="color: red;">
                            Name is required!
                        </div>
                    </div>

                    <!-- https://www.codegrepper.com/code-examples/html/reactive+forms+radio+button -->
                    <div class="gender" *ngFor="let gender of genders">
                        <div>
                            <input 
                            [ngModel]="selectedGender"
                            type="radio" 
                            name="gender" 
                            value="{{gender}}"> 
                            <i>{{gender}}</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block">
                            Update profile
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="login col-10">   
            <form class="register-form col-12" *ngIf="isLoggedIn" name="physioForm" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid && updateProfile()">
                <div class="form-group">
                    <div class="col-2"></div>
                    <h4 class="col-8 row justify-content-around">Register Physiotherapist account</h4> 
                    <div class="col-2"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control col-6 row justify-content-around" name="email" placeholder="Email"
                        [(ngModel)]="physioForm.Email" required #email="ngModel"/>
                    <div role="alert" *ngIf="email.errors && f.submitted" style="color: red;">
                        Email is required!
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control col-6 row justify-content-around" name="password" placeholder="Password"
                        [(ngModel)]="physioForm.Password" required minlength="6" #password="ngModel"
                    />
                    <div role="alert" *ngIf="password.errors && f.submitted"  style="color: red;">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control col-6 row justify-content-around" name="confirmPassword" placeholder="Confirm password"
                        [(ngModel)]="physioForm.ConfirmPassword" required minlength="6" #confirmPassword="ngModel"
                    />
                    <div role="alert" *ngIf="confirmPassword.errors && f.submitted" style="color: red;">
                        <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control col-6 row justify-content-around" name="PhysioID" placeholder="Physiotherapist ID"
                        [(ngModel)]="physioForm.PhysioID" required minlength="4" #PhysioID="ngModel"
                    />
                    <div role="alert" *ngIf="PhysioID.errors && f.submitted" style="color: red;">
                        Physiotherapist ID is required!
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control col-6 row justify-content-around" name="name" placeholder="Name"
                        [(ngModel)]="physioForm.Name" required minlength="3" #name="ngModel"
                    />
                    <div role="alert" *ngIf="name.errors && f.submitted" style="color: red;">
                        Name is required!
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control col-6 row justify-content-around" name="surname" placeholder="Surname"
                        [(ngModel)]="physioForm.Surname" required minlength="3" #surname="ngModel"
                    />
                    <div role="alert" *ngIf="surname.errors && f.submitted">
                        Surname is required!
                    </div>
                </div>

                <div class="buttons">
                    <div class="form-group">
                        <button type="button" routerLink="/login" class="btn btn-primary btn-block">
                            Sign in
                        </button>
                    </div>
                    <div class="col-1"></div>
                    <div class="form-group">
                        <button  (click)="updateProfile()" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>