<!-- <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d165175.18181900453!2d21.0956122782258!3d49.69456745375196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1splac%C3%B3wki%20rehabilitacyjne!5e0!3m2!1spl!2spl!4v1635694340167!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
