/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin:0;
}

.default-background{
    background-image: url("./assets/images/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: auto;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
