<mat-toolbar color="primary" class="navbar">
    <div>         
        <a href="/">
            <span> Physiosearch </span>
        </a> 
    </div>

    <div>
        <a href="/">
            <span> Mapa </span>
        </a>
        <a href="/search">
            <span> Wyszukaj </span>
        </a>
        <a href="/settings">
            <span> Ustawienia </span>
        </a>
        <a href="/profile">
            <span> Profil </span>
        </a>
        <a>
            <span> Wiadomości </span>
        </a>
        <a>
            <span> Powiadomienia </span>
        </a>
        <a href="/login">
            <span> Logowanie </span>
        </a>
        <a href="/register">
            <span> Rejestracja </span>
        </a>
    </div>
</mat-toolbar>