<mat-toolbar color="primary" class="navbar">
    <div>         
        <a href="/" >
            <span> Physiosearch </span>
        </a> 
    </div>

    <div>
        <a href="/">
            <span> Mapa </span>
        </a>
        <a href="/search">
            <span> Wyszukaj </span>
        </a>
        <a href="/settings" *ngIf="isLoggedIn">
            <span> Ustawienia </span>
        </a>
        <a routerLink="/profile/{{this.userId}}" *ngIf="isLoggedIn">
            <span> Profil </span>
        </a>
        <a href="/conversation">
            <span> Wiadomości </span>
        </a>
        <a href="/login"  *ngIf="!isLoggedIn">
            <span> Logowanie </span>
        </a>
        <a href="/register"  *ngIf="!isLoggedIn">
            <span> Rejestracja </span>
        </a>
        <a href="/login" *ngIf="isLoggedIn" (click)="logout()">
            <span>Logout</span>
        </a>
    </div>
</mat-toolbar>